In [1]:
import pandas as pd
import numpy as np

In [17]:
data = pd.DataFrame({"学号":[1001,1002,1003,1004],
                    "性别":["男","女","女","男"],
                    "学历":["本科","硕士","专科","本科"]})

data = pd.get_dummies(data)
data

     学号  性别_女  性别_男  学历_专科  学历_本科  学历_硕士
0  1001     0     1      0      1      0
1  1002     1     0      0      0      1
2  1003     1     0      1      0      0
3  1004     0     1      0      1      0

In [19]:

A = [[1, 2], [3, 4], [-1, 4]]
A.sort(key=lambda x: x[0] )
A

[[-1, 4], [1, 2], [3, 4]]